*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
}

h1{
    margin-bottom:20px;
}

#status{
    margin-bottom:20px;
    font-size:1.2rem;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    gap:10px;
    justify-content:center;
}

.cell{
    width:100px;
    height:100px;
    background:#1e293b;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    font-weight:bold;
    cursor:pointer;
    border-radius:10px;
    transition:0.3s;
}

.cell:hover{
    background:#334155;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#38bdf8;
    cursor:pointer;
    font-weight:bold;
}

@media(max-width:500px){

    .board{
        grid-template-columns:repeat(3,80px);
    }

    .cell{
        width:80px;
        height:80px;
    }

}